:root{
    --main-color: #d3ad7f;
    --black:#13131a;
    --bg:#010103;  
    --border:0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
    font-family: "Lilita One", serif;
}

    *{
        margin: 0px;
        padding: 0px;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.2 linear;
    }

    body{
        background-color: var(--bg);

    }

    section{
        padding: 3rem 2rem ;
        margin: 0 auto;
        max-width: 1200px;

    }

/* Começo do Header */

    .header{
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 99;
        border-bottom: var(--border);

    }
    .header section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.0rem;
        padding-bottom: 1.0rem;
    }

    .navbar a {
        margin: 0 1rem;
        font-size: 1.8rem;
        color:azure ;
    }

    
    .navbar a:hover {
       color: var(--main-color);
       border-bottom: 0.1rem solid rgba(248, 201, 82, 0.3);
       padding-bottom: 0.7rem;

    }